@using LocalizedStrings = Resources.CommonResources;
@{
    ViewBag.Title = LocalizedStrings.HomeTitle;
    
}
<div class="locations-box">
    <h3>@LocalizedStrings.LocationsHeader</h3>
    <div data-bind="visible : locationsLoading">
        <img class="loader" src="/Content/Images/AreaLoader.gif" alt="loading" />
    </div>
    <div data-bind="visible : locationsLoadingCompleted">
        <ul data-bind="foreach: locations" class="noshift">
            <li class="unmark">
                <input type="checkbox" data-bind="value: $data, checked: $parent.checkedLocations" />
                <span data-bind="text: $data"></span></li>
        </ul>
    </div>
</div>
<div class="persons-box">
    <h3>@LocalizedStrings.RemoveFromDistribution</h3>
    
    <div class="persons-selection-box">
        <select class="persons-selection" data-bind="options: filteredPersons, optionsText: 'name', value: personToExclude"
            size="6">
        </select>
    </div>
    <div class="persons-selection-box">
        <input type="button" style="width: 115px; margin-bottom: 4px" class="ui-widget ui-button ui-state-default" value="@LocalizedStrings.ExcludeButtonLabel" data-bind="event: {click: excludePerson }" /><br/>
        <input type="button" style="width: 115px" class="ui-widget ui-button ui-state-default" value="@LocalizedStrings.IncludeButtonLabel" data-bind="event: {click: includePerson }, visible: personsExcluded" />
    </div>
    <div class="persons-selection-box" data-bind="visible: personsExcluded">
        <select class="persons-selection" data-bind="options: excludedPersons, optionsText: 'name', value: personToInclude"
            size="6">
        </select>
    </div>
    
    
</div>
<div class="create-list-box">
    <input type="button" class="ui-widget ui-button ui-state-default" value="@LocalizedStrings.CreateListButtonLabel"
           data-bind="event: {click: createAddress}" />
    <span data-bind="text: errorNoPersonsSelected" />
</div>
<div class="address-list">
    <a data-bind="attr: { href: mailtoAddressList }, visible: shortEmailListExists">@LocalizedStrings.SendEmailHeader</a>
    <a href="mailto:" data-bind="visible: longEmailListExists, event:{click: displayDialog}">@LocalizedStrings.SendEmailHeader</a>
</div>
<div id="dialog" title="@LocalizedStrings.DialogCopyEmailsHeader" data-bind="dialog: isOpen">
    <span id="copyClipboardMessage" class="paddedSpan">@LocalizedStrings.DialogCopyEmailsBody</span>
    <div id="textareaContainer">
        <textarea data-bind="value: addressList" onfocus="this.select();"></textarea>
    </div>
</div>
<script type="text/javascript">
    $(':button').button().on('hover blur', function () {
        $(this).toggleClass('ui-state-hover');
    });
    ko.applyBindings(new ListGeneratorViewModel());
</script>
