@using System.Configuration
@using LocalizedStrings = Resources.CommonResources;
@{
    ViewBag.Title = LocalizedStrings.HomeTitle;
    ViewBag.RestServiceUrl = ConfigurationManager.AppSettings["RestServiceUrl"];
}
<div class="locations-box inline-block">
    <h3>@LocalizedStrings.LocationsHeader</h3>
    <div data-bind="visible : locationsLoading">
        <img class="loader" src="/Content/Images/AreaLoader.gif" alt="loading" />
    </div>
    <div data-bind="visible : locationsLoadingCompleted">
        <ul data-bind="foreach: locations">
            <li class="unmark">
                <input type="checkbox" data-bind="value: $data, checked: $parent.checkedLocations" />
                <span data-bind="text: $data"></span></li>
        </ul>
    </div>
</div>
<div class="persons-box inline-block">
    <div>
        <h3>@LocalizedStrings.RecipientsInList</h3>
        <select class="persons-selection" data-bind="options: filteredPersons, optionsText: 'name', selectedOptions: personsToExclude, autoScroll: scrollTop, event: {keyup: excludePersonsByKeypress }"
            size="6" multiple="multiple">
        </select>
    </div>
    <div id="middleControls">
        <input type="button" class="ui-widget ui-button ui-state-default" value=">" data-bind="event: {click: excludePersons }" /><br />
        <input type="button" class="ui-widget ui-button ui-state-default" value="<" data-bind="event: {click: includePersons }" />
    </div>
    <div>
        <h3>@LocalizedStrings.ExcludedRecipients</h3>
        <select class="persons-selection" data-bind="options: excludedPersons, optionsText: 'name', selectedOptions: personsToInclude, event: {keyup: includePersonsByKeypress }"
            size="6" multiple="multiple">
        </select>
    </div>
</div>
<div class="create-list-container">
    <span style="display: inline-block">@LocalizedStrings.PersonsNumberLabel</span><span id="persons-count-span"
        data-bind="text: filteredPersonsCount"></span>
    <div style="display: inline-block">
        <div class="no-persons-notice" data-bind="if: errorNoPersonsSelected">
            <div class="ui-state-error ui-corner-all">
                <span class="ui-icon ui-icon-info"></span><span>@LocalizedStrings.ErrorNobodySelected</span>
            </div>
        </div>
        <input type="button" class="ui-widget ui-button ui-state-default" value="@LocalizedStrings.CreateListButtonLabel"
               data-bind="event: {click: generateList}" />
    </div>
</div>
<div id="dialog" title="@LocalizedStrings.DialogCopyEmailsHeader" data-bind="dialog: isOpen">
    <div id="copyClipboardMessage">
        <span>@LocalizedStrings.DialogCopyEmailsBody</span><span
            data-bind="if: isMailToPossible">.</span> <span data-bind="ifnot: isMailToPossible">@LocalizedStrings.DialogCopyByPressingLink</span>
        <span data-bind="ifnot: isMailToPossible"><a data-bind="attr: { href: mailToAddressList }">@LocalizedStrings.LinkLabel</a></span><span
            data-bind="ifnot: isMailToPossible">.</span>
    </div>
    <textarea id="textarea" readonly="readonly" data-bind="style: {height : isMailToPossible() ? '270px' : '250px'}, value: dialogWindowAddressList"></textarea>
</div>
<script type="text/javascript">
    $(':button').button().on('hover blur', function () {
        $(this).toggleClass('ui-state-hover');
    });

    $('select').on('focusout', function () {
        $(this).val([]);
    });

    ko.applyBindings(new ListGeneratorViewModel("@ViewBag.RestServiceUrl"));
</script>
