@using LocalizedStrings = Resources.CommonResources;
@{
    ViewBag.Title = LocalizedStrings.HomeTitle;
    
}
<div class="locations-box">
    @LocalizedStrings.LocationsHeader
    <div data-bind="visible : locationsLoading">
        <img style="background: transparent; border: 0px" src="/Content/Images/AreaLoader.gif"
            alt="loading" />
    </div>
    <div data-bind="visible : locationsLoadingCompleted">
        <ul data-bind="foreach: locations" class="noshift">
            <li class="unmark">
                <input type="checkbox" data-bind="value: $data, checked: $parent.checkedLocations" />
                <span data-bind="text: $data"></span></li>
        </ul>
    </div>
</div>
<div class="persons-box">
    <div class="all-persons-box">
        <select data-bind="options: filteredPersons, optionsText: 'name', value: personToExclude, optionsCaption: '@LocalizedStrings.ChoosePersonHint'">
        </select>
        <input type="button" value="@LocalizedStrings.ExcludeButtonLabel" data-bind="event: {click: excludePerson }" />
    </div>
    <div class="persons-to-exclude-box" data-bind="visible: personsExcluded">
        <select data-bind="options: excludedPersons, optionsText: 'name', value: personToInclude"
            size="3">
        </select>
        <input type="button" value="@LocalizedStrings.IncludeButtonLabel" data-bind="event: {click: includePerson }" />
    </div>
</div>
<div class="create-list-box">
    <input type="button" value="@LocalizedStrings.CreateListButtonLabel"
           data-bind="event: {click: createAddress}" />
    <span data-bind="text: errorNoPersonsSelected" />
</div>
<div class="address-list">
    <a data-bind="attr: { href: mailtoAddressList }, visible: shortEmailListExists">@LocalizedStrings.SendEmailHeader</a>
    <a href="mailto:" data-bind="visible: longEmailListExists, event:{click: displayDialog}">@LocalizedStrings.SendEmailHeader</a>
</div>
<div id="dialog" title="Confirm copy to clipboard" data-bind="dialog: isOpen">
    <span id="copyClipboardMessage">Please press Ctrl + C to copy emails</span>
    <div id="textareaContainer">
        <textarea data-bind="value: addressList" onfocus="this.select();"></textarea>
    </div>
</div>
<script type="text/javascript">
    ko.applyBindings(new ListGeneratorViewModel());
</script>
